<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asset Explorer</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
    $(function() {
      $( ".dtpick" ).datepicker();
    });
    </script>
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Welcome to Asset Explorer!</h1>
<div class="main">
  <div class="wrap">
    <div class="sidebar">
      <!--{% block content %}-->
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

        <p>
            {{ form.ticker.label }}
        <br>
            {{ form.ticker(size=32) }}
      	</p>

        <p>
            {{ form.frequency.label }}
        <br>
            {{ form.frequency}}
      	</p>

        <p>
          {{ form.hidden_tag() }}
          From: {{ form.start(class='dtpick') }} To: {{ form.end(class='dtpick') }}
      	</p>
        <p>
            {{ form.interval.label }}
        <br>
            {{ form.interval}}
      	</p>

        <p>{{ form.submit() }}</p>
        </form>
      <!--{% endblock %}-->
    </div>
    <div class="content">
      <!--{% block graphs %}-->
      	<body>
      		<div><img src='{{ graph1 }}'></img></div>
      	</body>
        <body>
          <div><img src='{{ graph2 }}'></img></div>
        </body>
      <!--{% endblock %}-->
    </div>
    <div class="content">
    </div>
  </div>
</div>
<!--{% for table in tables %}

            {{ table|safe }}
{% endfor %}-->
</body>
</html>
